{% extends 'layout.html' %}
{% import '_forms.html' as forms %}

{% from 'util.html' import link_tag, script_tag %}

{% if create %}
  {% set title = 'Create Resume' %}
{% else %}
  {% set title = 'Edit Resume' %}
{% endif %}

{% block css %}
  {{ link_tag('forms') }}
{% endblock %}


{% block body %}
  <h2>
    {% if create %}
      Add new Resume
    {% else %}
      Edit Resume
    {% endif %}
  </h2>

  <form action="?{{ request.query_string }}" class="form" method="post">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn btn-primary" value="save">
      <a href="{{ url_for('resume_app.list', _external=True) }}" class="btn btn-default">Cancel</a>
    </div>
  </form>
  {% include 'footer.html' %}

{% endblock %}

{% block js %}
        {{ script_tag('cookies') }}
{% endblock %}