body {
  padding-top: 10px; 
}
ul {
  list-style-type: none;
  padding:0; 
  margin:0;
}

.jobList {
}

.jobScore {
  padding: 2px;
	padding-top: 20px;
}

#resume {
  font-size: 14px;
  width: 780px;
  padding: 60px;
  margin: 0 auto;
  -moz-box-shadow: #dddddd 1px 1px 10px 6px;
  -webkit-box-shadow: #dddddd 1px 1px 10px 6px;
  -o-box-shadow: #dddddd 1px 1px 10px 6px;
  box-shadow: #dddddd 1px 1px 10px 6px;
  font-family: Georgia;
  line-height: 22px;
}

#resume-title {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

.comments {
  width: 900px;
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0 auto;
}

#comment_form {
  width: 900px;
  padding: 60px;
  padding-top: 10px;
  margin: 0 auto;
}

.avatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
