{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <form method="post" class="form">
    {{ form.csrf_token }}
    <h3 class="form-heading">Reset Password <a href="{{ url_for('index', _external=True) }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('auth_login.forgot', _external=True) }}">Login</a></p>
    <input type="submit" value="Reset Password" class="btn btn-primary btn-lg btn-block">
  </form>

{% endblock %}