{% extends 'layout.html' %}
{% import '_forms.html' as forms %}

{% from 'util.html' import link_tag, script_tag, comment_counted %}

{% set title = 'Resume Details' %}

{% block css %}
{% endblock %}

{% block body %}
    <div id="resume">

      <ul class="list-group">

        <div id="resume-title">

          <li class="list-group-item">
          <h2>
            <a href="{{ url_for('resume_app.detail', slug=resume.slug, _external=True) }}">{{ resume.title }}</a>
          </h2>
        </div>

        <li id="name" class="list-group-item"><p><span><strong>Name: </strong>{{ resume.author }}</span></p>
        <li id="email" class="list-group-item"><p><span><strong>Email: </strong>{{ resume.email }}</span></p>
        <li id="phone" class="list-group-item"><p><span><strong>Phone: </strong>{{ resume.phone }}</span></p>
        <li id="address" class="list-group-item"><p><span><strong>Address: </strong>{{ resume.address }}</span></p>

        <li id="skills" class="list-group-item"><p>{{ comment_counted('Skills', resume.comments_per_section[0].num_comments, resume.todos_per_section[0].num_todos) }}</p>
        <p>{{ resume.skills }} </p></li>

        <li id="experience" class="list-group-item"><p>{{ comment_counted('Experience', resume.comments_per_section[1].num_comments, resume.todos_per_section[1].num_todos) }}</p>
        <p>{{ resume.experience }} </p></li>

        <li id="education" class="list-group-item"><p>{{ comment_counted('Education', resume.comments_per_section[2].num_comments, resume.todos_per_section[2].num_todos) }}</p>
        <p>{{ resume.education }}</p></li>

        <li id="honors" class="list-group-item"><p>{{ comment_counted('Honors', resume.comments_per_section[4].num_comments, resume.todos_per_section[4].num_todos) }}</p>
        <p>{{ resume.honors }}</p></li>

        <li id="publication" class="list-group-item"><p>{{ comment_counted('Publication', resume.comments_per_section[5].num_comments, resume.todos_per_section[5].num_todos) }}</p>
        <p>{{ resume.publication }}</p></li>

        <li id="activities" class="list-group-item"><p>{{ comment_counted('Activities', resume.comments_per_section[3].num_comments, resume.todos_per_section[3].num_todos) }}</p>
        <p>{{ resume.activities }}</p></li>

    </li>
    </ul>
    <!--p>
        {{ resume.created_at.strftime('%H:%M %Y-%m-%d') }} |
        {% with total=resume.comments|length %}
          {{ total }} comment {%- if total > 1 %}s{%- endif -%}
        {% endwith %}
    </p-->
  </div>

  <div class="comments">
    <h2>Comments</h2>
    {% if resume.comments %}
    <ul class="list-group">
      {% for comment in resume.comments %}
         <li class="list-group-item comment">
           <p>
            <span class="badge alert-success pull-right">
             <button type="button" class="btn btn-primary btn-sm fa fa-thumbs-o-up">Thank</button>
            </span>
            <span class="badge alert-warning pull-right">
             <button type="submit" value="post" class="todo btn btn-link btn-sm fa fa-paperclip">TODO</button>
            </span>
           
           &nbsp {{ comment.body }}</p>
           <p><strong>{{ comment.author }}</strong> <small>on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
           <p><strong>Tags: </strong>
           {% for tag in comment.tags %}
                <span class="{{ choices[tag-1][1] }} category label label-info">{{ choices[tag-1][1] }}</span>
           {% endfor %}
            </p>
          {{ comment.text }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  
  <div id="comment_form">
    <h2>Add a comment</h2>
    <form action="{{ url_for('resume_app.detail', slug=resume.slug, _external=True) }}" method="post">
      {{ forms.render(form) }}
      <div class="actions">
        <input type="submit" class="btn btn-primary" value="comment">
      </div>
    </form>
  </div>
  {% include 'footer.html' %}
{% endblock %}

{% block js %}
        {{ script_tag('cookies') }}
        {{ script_tag('resume/resume_detail') }}
{% endblock %}