{% extends 'layout.html' %}

{% set title = 'Home' %}

{% block css %}
{% endblock %}

{% block body %}
  <div class="row">
        <div class="col-lg-8">
          <img class="img-responsive img-rounded" src="../static/assets/prototype-hero-image.jpg"><!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>
        <div class="col-lg-4">
          <h1><b>Plytos</b></h1>        

          <h3><i>Play to your strengths</i></h3>
          <br>
          <p>Get jobs that you will love. Get instant feedback on your Resume. Get feedback on where you stand in the pool of candidates. Get moving today. </p>

          <!-- Button trigger modal -->
          <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-upload"></span> Upload Resume
          </button>

        </div>
      </div>
    
      <hr>
      
      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center">  <!-- bootstrap well class is css it creates a depth well like box -->
            We would love to hear from you at Plytos! Email mail@plytos.com and let us know your feedback!
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Improve your odds</h2>
          <p>Ever wonder why those job applications do not result in a call from the company? With Plytos, you can measure your strengths against the other applications and let you know where you stand! Not only that, we give you actionable items that will improve your chances!</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>
        <div class="col-lg-4">
          <h2>Invite your friends!</h2>
          <p>We all have that friend who is super organized and writes great resumes. With Plytos, you can pool the collective experience of Plytos users and get feedback from the Resume experts. While you are at it, give back some feedback too!</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>
        <div class="col-lg-4">
          <h2>Get jobs you will love</h2>
          <p>Plytos uses cutting edge machine learning and information extration tool that goes beyond simple keyword matching and only gives you jobs that will match yours and the employers needs.</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>
      </div>
      {% include 'footer.html' %}
      {% include 'login_modal.html' %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: 5huabac53ff0
      //onLoad:  Linkedin.init
      authorize: true
    </script>
        {{ script_tag('cookies') }}
        {{ script_tag('lin_login') }}
        {{ script_tag('firstuser') }}
        {{ script_tag('main') }}
{% endblock %}