{% extends 'layout.html' %}
{% from 'util.html' import link_tag, script_tag %}

{% set title = 'Resumes' %}

{% block css %}

{% endblock %}

{% block body %}
<div class="row">
          <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">456</p>
                    <p class="announcement-text">Total Comments</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Details
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-check fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">12</p>
                    <p class="announcement-text">Action Items</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Complete Tasks
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-users fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">112</p>
                    <p class="announcement-text">Profile views</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Details
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div><!-- /.row -->
  {% for resume in resumes %}
    <h2><a href="{{ url_for('resume_app.detail', slug=resume.slug, _external=True) }}">{{ resume.title }}</a></h2>
    <p><h3>Skills: </h3>{{ resume.skills|truncate(100) }} </p>
    <p><h3>Experience: </h3>{{ resume.experience|truncate(100) }} </p>
    <p><h3>Education: </h3>{{ resume.education|truncate(100) }}</p>
	<p>
	  {{ resume.created_at.strftime('%H:%M %Y-%m-%d') }} |
	  {% with total=resume.comments|length %}
	    {{ total }} comment {%- if total > 1 %}s{%- endif -%}
	  {% endwith %}
	</p>

  {% endfor %}   
  {% include 'footer.html' %}

{% endblock %}

{% block js %}
        {{ script_tag('cookies') }}
{% endblock %}

